<div class="container">
    <div class="row">
       <section class="rounded order-lg-2 offset-lg-1 col-lg-4 col-md-12 mt-5 weather-content">
            <header class="header section-header">
                <h2>Vädret på Nicksta</h2>
            </header>
            <div class="mock-data">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Klocka</th>
                            <th>Väder</th>
                            <th>Värme</th>
                            <th>Vind</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let weatherStamp of weatherData">
                        <td>
                          {{ weatherStamp.clock }}
                        </td>
                        <td>
                          {{ weatherStamp.description }}
                        </td>
                        <td>
                          {{ weatherStamp.tempature }}
                        </td>
                        <td>
                          {{ weatherStamp.wind }}
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </section>
       <section class="order-lg-1 col-lg-7 col-md-12 mt-5 train-content">
            <header class="header section-header">
                <h2>Åker tågen?</h2>
            </header>
            <form>
                <div class="form-group">
                    <label>Jag åker från..</label>
                    <input class="form-control" placeholder="City.." type="text"/>
                </div>
                <input id="train_search_btn" class="btn btn-primary" type="submit" value="Sök.." />
            </form>
            <div class="mt-3  mock-data">
               <table class="table table-striped">
                   <caption></caption>
                   <thead class="thead-dark">
                       <tr>
                           <th>Nr</th>
                           <th>Avgår</th>
                           <th>Ankommer</th>
                       </tr>
                   </thead>
                   <tfoot>
                       <tr>
                            <td colspan="3">
                            </td>
                       </tr>
                   </tfoot>
                   <tbody>
                   </tbody>
               </table>
            </div>
        </section>
    </div>
</div>
