<div class="container">
    <div class="row">
        <aside class="mt-5 offset-lg-1 col-md-2 order-lg-2 bg-white rounded d-none d-lg-block text-center">
            <header class="header section-header">
                <h2>Galleria</h2>
            </header>
            <figure class="img-thumbnail">
                <img class="img-fluid" src="assets/images/waterpark.jpg" alt="waterpark">
                <img class="img-fluid" src="assets/images/tower.jpg" alt="tower">
                <img class="img-fluid" src="assets/images/beach.jpg" alt="beach">
            </figure>
        </aside>

        <section class="mt-5 col-lg-9 col-md-12 order-lg-1 bg-white rounded">
            <header class="header section-header">
                <h2>Nicksta</h2>
            </header>
            <section>
                
                <header class="header section-header">
                    <h3>Bo nära Nynäshamns populära havsbad</h3>
                </header>
                
                <figure class="float-left mb-0 mr-2">
                    <img class="img-fluid" alt="camping" src="assets/images/camping.jpg" width="80" height="80">
                    <figcaption>Havs camping</figcaption>
                </figure>
                <p>
                    Campingplatsen ligger vid Nickstabadet, Nynäshamns populära havsbad med stor fin sandstrand.
                </p>
                <p>
                    Här finns 130 campingtomter för husvagnar, husbilar och tält, samt 28 stugor för dig som kommer utan eget boende men ändå vill njuta av anläggningens service och utbud.
                </p>
            </section>

            <section>
                <header class="header section-header">
                    <h3>Plaska, åk vattenrutschkana, hyr kanot</h3>
                </header>
                <figure class="float-left mb-0 mr-2">
                    <img class="img-fluid rounded" alt="cannoe" src="assets/images/kanot.jpg" width="80" height="80">
                    <figcaption>Kanot uthurning</figcaption>
                </figure>
                <p>
                    Vid stranden finns brygga med hopptorn, lång vattenrutschbana och du kan hyra kanot och kajak. Minigolf, kiosk, grill och glassbar finns också här, samt restaurang med rättigheter. Trubadurkvällar anordnas också.
                </p>
                <p>
                    Härifrån är det 700 meter till pendeltågstation (hpl Nynäsgård) med 55 minuters restid till Stockholms centralstation. Ca 10 min
                </p>
            </section>
        </section>
    </div>
</div>
